<footer class="mt-5" style="background-color: #343a40">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-white">Entre em contato</h3>
                    <address>
                        <a href="mailto:joaozati@gmail.com" class="text-white">joaozati@gmail.com</a>
                        <p class="mt-3 text-white">Veja meus projetos no github</p>
                        <a href="https://github.com/JoaoZati" class="text-white">https://github.com/JoaoZati</a>
                    </address>
                </div>
            </div>
        </div>
    </footer>

